<details><summary style="display:list-item; font-size:16px; color:blue;">Jupyter Help</summary>
    
Having trouble testing your work? Double-check that you have followed the steps below to write, run, save, and test your code!
    
[Click here for a walkthrough GIF of the steps below](https://static-assets.codecademy.com/Courses/ds-python/jupyter-help.gif)

Run all initial cells to import libraries and datasets. Then follow these steps for each question:
    
1. Add your solution to the cell with `## YOUR SOLUTION HERE ## `.
2. Run the cell by selecting the `Run` button or the `Shift`+`Enter` keys.
3. Save your work by selecting the `Save` button, the `command`+`s` keys (Mac), or `control`+`s` keys (Windows).
4. Select the `Test Work` button at the bottom left to test your work.

![Screenshot of the buttons at the top of a Jupyter Notebook. The Run and Save buttons are highlighted](https://static-assets.codecademy.com/Paths/ds-python/jupyter-buttons.png)

**Setup**

Start by running the cell below to import `pandas`, `numpy`, and the `results.csv` dataset.

In [1]:
import pandas as pd
import numpy as np

results = pd.read_csv('results.csv')
results.head()

,date,year,home_team,away_team,home_score,away_score,total_goals,win_margin,tournament,city,country,neutral
0,2000-01-04,2000,Egypt,Togo,2,1,3,1,Friendly,Aswan,Egypt,False
1,2000-01-07,2000,Tunisia,Togo,7,0,7,7,Friendly,Tunis,Tunisia,False
2,2000-01-08,2000,Trinidad and Tobago,Canada,0,0,0,0,Friendly,Port of Spain,Trinidad and Tobago,False
3,2000-01-09,2000,Burkina Faso,Gabon,1,1,2,0,Friendly,Ouagadougou,Burkina Faso,False
4,2000-01-09,2000,Guatemala,Armenia,1,1,2,0,Friendly,Los Angeles,United States,True

#### Narrative Example

The cell below generates the example from the exercise narrative.

In [2]:
yearly_goals = pd.pivot_table(
    results, 
    index='year', 
    columns='tournament', 
    values='total_goals', 
    aggfunc='sum')

# show output
yearly_goals.head()

tournament,AFC Asian Cup qualification,African Cup of Nations,African Cup of Nations qualification,CECAFA Cup,FIFA World Cup,FIFA World Cup qualification,Friendly,Gold Cup,UEFA Euro qualification,UEFA Nations League
year,,,,,,,,,,
2000,260.0,73.0,152.0,45.0,NaN,802.0,929.0,55.0,NaN,NaN
2001,NaN,NaN,95.0,51.0,NaN,1640.0,685.0,NaN,NaN,NaN
2002,NaN,48.0,72.0,53.0,161.0,NaN,892.0,39.0,157.0,NaN
2003,349.0,NaN,178.0,28.0,NaN,214.0,839.0,50.0,409.0,NaN
2004,NaN,88.0,NaN,64.0,NaN,1247.0,981.0,NaN,NaN,NaN

#### 1. Home Scores

Let's investigate whether playing at a non-neutral venue impacts the likelihood of a home win!

We've already added code to create a `home_wins` column that is `True` whenever the home team won.

Using `.pivot_table`, transform `results` so that

- the rows are labeled by `neutral`
- the columns are labeled by `home_wins`
- the values are the number of games per group, obtained by counting `date`

Save the result to the variable `num_home_wins`. Do not reset the index.

Does playing at a neutral venue (where neither team is really "at home") impact the probability of the home team winning?

In [3]:
results['home_wins'] = results['win_margin'] > 0

## YOUR SOLUTION HERE ##
num_home_wins = pd.pivot_table(
    results, 
    index='neutral', 
    columns='home_wins', 
    values='date', 
    aggfunc='count')

# show output
num_home_wins

home_wins  False  True
neutral
False       6855  6933
True        1943  1364

**2. Home Scores in Each Year**

We've written `.groupby()` code to calculate the number of teams that have scored the different `home_score` values in each `year`.

Replace our code with a `pivot_table` that has rows labeled by `year` and columns labeled by `home_score`. Assign the result to `year_scores`. Do not reset the index.

In [4]:
year_scores = results.groupby(
    ['year','home_score']).agg(
    {'home_team':'nunique'})

## YOUR SOLUTION HERE
year_scores = pd.pivot_table(
    results,
    index = 'year',
    columns = 'home_score',
    values = 'home_team',
    aggfunc = 'nunique')

# show output
year_scores

home_score,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,19,20,22,31
year,,,,,,,,,,,,,,,,,,,,,
2000,120.0,137.0,107.0,68.0,38.0,23.0,9.0,6.0,6.0,7.0,...,2.0,NaN,NaN,NaN,NaN,1.0,2.0,1.0,NaN,NaN
2001,116.0,131.0,98.0,63.0,40.0,32.0,13.0,4.0,2.0,3.0,...,2.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0
2002,101.0,94.0,80.0,48.0,24.0,9.0,4.0,2.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003,113.0,121.0,105.0,69.0,38.0,25.0,9.0,2.0,3.0,1.0,...,1.0,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
2004,124.0,143.0,111.0,66.0,48.0,18.0,11.0,9.0,4.0,1.0,...,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005,93.0,107.0,87.0,62.0,34.0,14.0,7.0,2.0,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2006,107.0,103.0,86.0,57.0,31.0,13.0,8.0,5.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007,123.0,117.0,108.0,70.0,29.0,18.0,7.0,4.0,2.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008,124.0,142.0,116.0,79.0,40.0,11.0,12.0,7.0,2.0,1.0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009,108.0,128.0,95.0,55.0,38.0,21.0,7.0,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010,116.0,111.0,89.0,50.0,28.0,10.0,9.0,2.0,2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011,142.0,142.0,117.0,74.0,47.0,18.0,14.0,2.0,1.0,2.0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012,119.0,129.0,100.0,68.0,32.0,15.0,9.0,3.0,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2013,115.0,127.0,107.0,62.0,35.0,13.0,13.0,NaN,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2014,112.0,119.0,100.0,54.0,24.0,8.0,8.0,3.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015,138.0,140.0,122.0,62.0,32.0,16.0,11.0,8.0,4.0,1.0,...,NaN,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
2016,108.0,118.0,102.0,52.0,35.0,16.0,9.0,4.0,4.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017,112.0,133.0,104.0,62.0,33.0,20.0,7.0,3.0,4.0,1.0,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
2018,111.0,123.0,94.0,48.0,31.0,11.0,5.0,3.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019,120.0,128.0,114.0,61.0,39.0,19.0,15.0,11.0,3.0,4.0,...,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN
2020,57.0,63.0,43.0,23.0,11.0,7.0,4.0,2.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021,131.0,149.0,104.0,73.0,44.0,28.0,11.0,9.0,6.0,1.0,...,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
2022,132.0,126.0,112.0,57.0,37.0,13.0,5.0,3.0,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN